@font-face {
  font-family: "poppinsblack";
  src: url("../Fonts/") format("woff2"),
    url("../Fonts/poppins-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsbold";
  src: url("../Fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../Fonts/poppins-bold-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinslight";
  src: url("../Fonts/poppins-light-webfont.woff2") format("woff2"),
    url("../Fonts/poppins-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsmedium";
  src: url("../Fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("../Fonts/poppins-medium-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsregular";
  src: url("../Fonts/poppins-regular-webfont.woff") format("woff2"),
    url("../Fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinssemibold";
  src: url("../Fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("../Fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
